<h1>Terminal Velocity Skydiving Team</h1>


<h5>This is a fictional skydiving team that I hope to start in the near future</h5>

<p>We are a fun group of skydiving junkies who love the sport and all the people involved. We meet as often as possible for 4-way and freefly practice. Many members are interested in wingsuiting and will start exploring that discipline one they've reached the minimum required number of jumps. Please feel free to reach out if you're interested in joining, providing sponserships, or just want to say hi!</p>
