<nav class="navbar .navbar-toggleable-*">
  <nav class="navbar  navbar-inverse bg-primary">
    <nav class="navbar-brand">
      <img id="logo" src="/assets/img/hang-loose.png" routerLink="">
    </nav>
    <nav>
      <p class="navbar-brand" routerLink="">Home</p>
      <p class="navbar-brand" routerLink="team-members">Team Members</p>
      <p class="navbar-brand" routerLink="about">About</p>
    </nav>
</nav>


<h1 class="center-text headline">Terminal Velocity</h1>


<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
    <a class="text-muted" routerLink="admin">Admin</a>
</footer>
