<h1 class="profile-header">Team Member Profile</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <h1>{{memberToDisplay?.name}}</h1>
    <img class="medium-img" src="{{memberToDisplay?.image}}" alt="Team Member Profile Pic">
    <p><strong>Nick Name:</strong> {{memberToDisplay?.nickName}}</p>
    <p><strong>Age:</strong> {{memberToDisplay?.age}}</p>
    <p><strong>Sex:</strong> {{memberToDisplay?.sex}}</p>
    <p><strong>Height:</strong> {{memberToDisplay?.height}}</p>
    <p><strong>Weight:</strong> {{memberToDisplay?.weight}}</p>
    <p><strong>HomeTown:</strong> {{memberToDisplay?.homeTown}}</p>
    <p><strong>Jumps:</strong> {{memberToDisplay?.jumps}}</p>
    <p><strong>Sponsers:</strong> {{memberToDisplay?.sponsers}}</p>
  </div>
</div>
